# Игнорировать все временные файлы, которые как правило начинаються со знака тильды
*~

# Игнорировать папку с нодой и её модулями
node_modules/

# Игнорировать папку с компонентами Bower
bower_components/

# Игнорирывать дистрибуцию
dist/

# Игнорировать логи
*/logs

# Игнорировать символьные ссылки
assets/sass/bootstrap-sass

# Игнорировать папку с фавиконами
assets/images/favicons/

# Игнорировать favicon.jade
templates/favicon.jade

# Игнорировать faviconData.json
faviconData.json

# Игнорировать компилированный html
index.html